@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: IRANSans;
  src: url("../fonts/IRANSansWebFa.38d4b5f.woff2") format("woff2");
}

body {
  font-family: "IRANSans" !important;
}
.brand {
  font-size: 40px;
  margin-left: 10px;
  color: #fff;
}
.btn {
  font-size: 0.9rem !important ;
}
.wrapperSpinner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  display: table;
}
.search input {
  background: none;
  border: none;
  outline: none;
  width: 28px;
  min-width: 0;
  padding: 0;
  z-index: 1;
  position: relative;
  line-height: 18px;
  margin: 5px 0;
  font-size: 14px;
  -webkit-appearance: none;
  font-family: "Mukta Malar";
  transition: all 0.6s ease;
  cursor: pointer;
  color: #fff;
}
.search input + div {
  position: absolute;
  height: 28px;
  width: 100%;
  top: 0;
}
.searchBox {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.search input + div svg {
  display: block;
  position: absolute;
  height: 28px;
  width: 160px;
  right: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-dashoffset: 271.908;
  stroke-dasharray: 59 212.908;
  transition: all 0.6s ease;
}
.search input:not(:placeholder-shown),
.search input:focus {
  width: 160px;
  padding: 0 4px;
  cursor: text;
}
.search input:not(:placeholder-shown) + div svg,
.search input:focus + div svg {
  stroke-dasharray: 150 212.908;
  stroke-dashoffset: 300;
}

::-moz-selection {
  background: rgba(255, 255, 255, 0.2);
}

::selection {
  background: rgba(255, 255, 255, 0.2);
}

::-moz-selection {
  background: rgba(255, 255, 255, 0.2);
}
.alertBox {
  width: 30%;
  text-align: right;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}
.wrapperNavItems {
  display: flex;
  flex-flow: row-reverse;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: auto;
  margin-right: 25px;
}
.wrapperNavItems .navItem {
  padding: 0 15px;
}
.wrapperNavItems .navItem .linkItem {
  color: rgb(255, 255, 255);
}
.wrapperNavItems .navItem .linkItem:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
