@font-face {
  font-family: IRANSans;
  src: url("../fonts/IRANSansWebFa.38d4b5f.woff2") format("woff2");
}

body {
  font-family: "IRANSans" !important;
}
.profileWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.card-container {
  background: rgb(0, 210, 255);
  background: linear-gradient(
    129deg,
    rgba(0, 210, 255, 1) 0%,
    rgba(58, 71, 213, 1) 100%
  );
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #fff;
  padding-top: 30px;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center;
}

.card-container .pro {
  color: #231e39;
  background-color: #febb0b;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.card-container .round {
  border: 2px solid #1fffa0;
  border-radius: 50%;
  padding: 7px;
  width: 50%;
  margin-bottom: 25px;
}
.card-container h6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container i {
  margin: 0 5px;
}
button.primary {
  background-color: #03bfcb;
  border: 1px solid #03bfcb;
  border-radius: 3px;
  color: #231e39;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}
.success {
  color: rgb(30, 240, 23) !important;
}
.danger {
  color: rgb(241, 20, 20) !important;
}
.returnButton {
  display: flex;
  justify-content: center;
}
.returnButton:hover {
  text-decoration: none;
}
button.primary.ghost {
  background-color: transparent;
  color: #02899c;
}

.skills {
  background-color: #1fffa0;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
  color: #7127fc;
  border-radius: 0 0 5px 5px;
}
.GoToGitHub {
  color: #1fffa0;
  transition: all 0.5s;
}
.GoToGitHub:hover {
  text-decoration: none;
  color: #fff;
}
.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  /* border: 1px solid #7127fc; */
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
  color: #7127fc;
}
